

.div {
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.buttonStyle { 
       background-color: green;
       color: white;
       font:inherit;
       border:1px solid green;
       padding: 8px;
       cursor:pointer;
       margin-right: 100px;
    }

.buttonStyle:hover {
  background-color: lightgreen;
  color: black;
}    

.buttonStyle2 { 
       background-color: red;
       color: white;
       font:inherit;
       border:1px solid red;
       padding: 8px;
       cursor:pointer;
       margin-top: 190px;
       margin-left: 40px;
    }

.buttonStyle2:hover {
  background-color: orangered;
  color: black;
}    